# Introduction to Python - Recap

# Numbers: Integers, Floats and Complex Numbers
### Integers: Whole numbers
### Floats: Numbers with decimal point
### Complex Numbers: Numbers with real and imaginary parts.

In [6]:
x=5
y=10.006
z=2j+3

### Note:
#### print(text) displays the the given text on the monitor.
#### variable=input(prompt) read the text from keyboard
#### type(object) returns the type(class) of the given object

In [7]:
# Display the type of different number objects
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Arithmetic Operators

![ArithOpe.png](attachment:ArithOpe.png)

In [18]:
# Take any two numbers and display the results ofter performing all basic arithmetic operaions on them.
print(x+y)
print(x-y)
print(x//y)
print(x/y)
print(x%y)
print(x*y)
print(x**y)

15.006
-5.006
0.0
0.4997001798920648
5.0
50.03
9860384.79634309

# Strings
### Surrounded in either single quotes or double quotes.

In [10]:
# Create two string objects one with double quotes and other with single quotes. Also display the type of both string objects.
a="hii"
b='hello'
print(type(a),type(b))

<class 'str'> <class 'str'>

### Sring Concatenation: 
#### + operator when used between stings acts as concatenation operator to join them.

In [41]:
# Take first name and last name from user then display full name.
s1=input()
s2=input()
print(s1+" "+s2)

hii
hello
hii hello

### String Indexing :
### Index of first character is 0
### Negative Indexing: Index of the last character is -1

In [16]:
# Create a string object with string literal "SVEC" and display it's characters using both positive & negative indexes.
s3="SVEC"
print(s3[0],s3[1],s3[2],s3[3])
print(s3[-1],s3[-2],s3[-3],s3[-4])

S V E C
C E V S

### String Slicing
### new_string = string[start, end, step]
#### --> Note that end index is exclusive in the range
#### --> step is optional and its default value is 1

In [20]:
# Extract the word love from a string "I love my country"
s4="i love my country"
print(s4[2:6:1])

love

In [23]:
# Extract alternate characters from the begining in a string "SAVBECC"
s5="SAVBECC"
print(s5[0:7:2])

SVEC

In [24]:
# Reverse the given string
print(s5[::-1])

CCEBVAS

### String case-conversion methods
#### new_string = string.lower(): lower() returns a new string with all lowercase letters in the original string
#### new_string = string.upper(): upper() returns a new string with all uppercase letters in the original string

In [29]:
s6="hello hii"
print(s6.lower())
print(s6.upper())

hello hii
HELLO HII

### String splitting
#### list_of_strings = string.split(delimiter): split() method returs a list of strings by splitting the original string upon the delimiter.
#### --> deliiter is is optional argument and has white space(space, tab or newline) as defalt value.

In [30]:
# Split the strings "Hi how are you", "The#king#is#back" and "I--love--my--india" with appropriate delimiters

s7="hi how are you"
s8="The#king#is#back"
s9="I--love--my--india"
print(s7.split(' '))
print(s8.split('#'))
print(s9.split('--'))

['hi', 'how', 'are', 'you']
['The', 'king', 'is', 'back']
['I', 'love', 'my', 'india']

### Strings joining
#### new_string = seperator.join(list_of_strings): Returns a lnew string by joining all the string in the given list with specified separator.

In [33]:
# Join the list of strings ["Chiru", "Balayya", "Nag", "Venky"] with the delimiters " " and "_".

l=["Chiru", "Balayya", "Nag", "Venky"]
l1=' '
l2='_'
print(l1.join(l))
print(l2.join(l))

Chiru Balayya Nag Venky
Chiru_Balayya_Nag_Venky

# str(), int() and float() functions
### str() function converts the given argument as a string
### int() function converts the given argument as an integer
### float() function converts the given argument as a float

In [73]:
# Create an integer object and reverse it without using loops
p=200
print(int(p))
q=str(p)
print(q[::-1])
print(float(p))

200
002
200.0

# Boolean Data Type
### Values: True & False

# Comparison Operators
### Also called Relational Operators
### To compare two values
### Evaluates to Boolean value
![New%20Microsoft%20PowerPoint%20Presentation.png](attachment:New%20Microsoft%20PowerPoint%20Presentation.png)

In [48]:
r=10
r1=20
print(r==r1)
print(r!=r1)
print(r>r1)
print(r<r1)

False
True
False
True

# Logical Operators
### To compare Boolean values or expressions.
### To evaluate multiple comparisons at a time
### Results in Boolean value
![New%20Microsoft%20PowerPoint%20Presentation.png](attachment:New%20Microsoft%20PowerPoint%20Presentation.png)

In [53]:
r=10
r1=20
r2=25
r3=40
print((r<r1)and(r2>r3))
print((r<r1)or(r2>r3))
print(not(r2==r3))

False
True
True

# Flow Control Statements

## if statements
![if.png](attachment:if.png)

In [56]:
# Read the marks and display pass if greater than or equal to 35 
m1=int(input())
if(m1>=35):
  print('pass')

90
pass

In [55]:
# Read the marks and display pass or fail
if(m1>=35):
  print('pass') 
else:
  print('fail')

pass

In [57]:
# Read the marks and display Grade the studen got
if(m1>=35):
  print('A')

A

## while Loop
![while.png](attachment:while.png)

In [89]:
# Find out sum of squares first N numbers
n=int(input())
sum=0
while(n>0):
       sum+=n
       n-=1
print(sum)

5
15

## for Loop
![FOR.png](attachment:FOR.png)

In [93]:
for i in range(1,n+1):
  sum+=i
print(sum)

15

## range() Function
### Reurns a range object with sequence of numbers
#### range(stop): Returns a range object with a sequence of numbers from 0 to stop-1.
#### range(start, stop): Returns a range object with a sequence of numbers from start to stop-1.
#### range(start, stop, step): Retuns a range object with numbers from start with the given step upto stop (exclusive).

In [96]:
# Display a message N times.
N=int(input())
for i in range(1,N+1,3):
  print('hi')

6
hi
hi

In [86]:
# Sum of squares of first N numbers

sum1=0
v=int(input())
for i in range(1,v+1):
  sum1+= (i*i)
print(sum1)

3
14

In [87]:
# Sum of squares of the numbers from x to y
n5=int(input())
n6=int(input())
sum2=0
for i in range(n5,n6+1):
  sum2+= (i*i)
print(sum2)

1
4
30

In [91]:
# Display all the even numbers between x and y.
for i in range(n5,n6):
  if(i%2==0):
    print(i)

2

In [ ]:
# Display all odd numbers between 0 and N without using any arithmetic/logical operation

# Functions
## Subprogram which performs a specific task
## Types:
### 1. Built-in Functions
#### print(), input(), len(), int(), float(), str(), type(), range() . . . .
### 2. User-defined Functions
![function.png](attachment:function.png)

In [ ]:
# Implement a function to display welcome message

In [ ]:
# Implement a function to check password

In [ ]:
# Implement a function to return the factorial of the given number

# Lists

## Ordered Sequence of items.
## List is a comma separated items between opening and closing sqare brackets.
## Individual items of a list can  be accessed using indexing.
### List are mutable objects in python

In [ ]:
# Create a list object with different types of objects and show that it is mutable

## A list can have other list as its item

In [ ]:
# Create a list object with other list as one of the elements and access its elements usig indexing

## List Slicing

## Length and Concatenation of Lists

## Replication

In [ ]:
# Create a list of 100 zeros

## List Methods

### index = list.index(item)
* Returns the index of the item in the list. 
* If the item not present python produces a ValueError

### list.append(item)
* Appends the argument at the end of the list.

### list.insert(index, item)
* Inserts an item at the given index in the list

### list.remove(item)
* Removes the first occurance of an item from the list
* If the item does not exist in the list we will get ValueError error.

### list.sort()
* Sorts the list in place

### list.sort(reverse = True)
* Sorts the list in the reverse order
#### Note: Python can't sort the list that has both numbers and strings.

In [71]:
print(l.sort())

None

### list.reverse()
* Reverse the order of the list items

In [70]:
f=l.reverse()

### list.copy()
* Creates a duplicate copy of the list

In [67]:
print(l.copy())

['Venky', 'Nag', 'Balayya', 'Chiru']

### count = list.count(item)
* Return the number of occurances of given item

# Tuples

### Same as Lists with the following differences
1. Items are enclosed in parenthesis.
2. Tuples are immutable objects

In [ ]:
# Create a tuple object and show that it is immutable

### Methods
#### count = tuple.count(item)
#### index = tuple.index(item)

# Dictionary

* Mutable collection of key - value pairs enclosed in braces, { }.
* {key1:value1, key2:value2, ...}
* Values can be accessed though their keys
* Dictionaries are unordered --> Order of the keys does not matter to decide whether two dictionaries are same

### Methods

* keys( ): Returns a dict_keys object with all keys in the dictionary
* values( ): Returns a dict_values object with all values in the dictionary
* items( ): Returns a dict_items object with all key-value pairs in the dictionay